{% extends "base.html" %}
{% block title %}Biblioteca{% endblock %}
{% block content %}
<div id="main_wrapper">
    <header>
        <div id="portada">
            <img src="/static/imagenes/banner.gif" id="banner" alt="banner">
            <img src="/static/imagenes/logo.png" id="logo" alt="logo">
        </div>
        <hr>
        <nav>
        <ul>
            <li><a href="https://dit.gonzalonazareno.org">Plataforma Moodle</a></li>
            <li><a href="https://google.es">Google</a></li>
            <li><a href="https://josejuinfo.data.blog">Vlog Servicios</a></li>
            <li><a href="https://debian.org">Página debian</a></li>
        </ul>
        </nav>
    </header>
    <h4>José Juan Hervás Carrasco</h4>
    <section>
        <h1>Biblioteca</h1>
        <hr>
        <div class="libro">
            {% if  dato==libro.status %}
                <p>ESTE LIBRO AUN NO SE HA PUBLICADO</p>
            {% else %}
                <h1>Titulo:</h1><p>{{libro.title}}</p>
                <h2>Imagen:</h2><img scr="{{libro.thumbnailUrl}}">
                <div class="descripcion_libro">
                    <h3>Numero de paginas:</h3><p>{{libro.pageCount}}</p>
                    <h3>Descripcion:</h3><p>{{libro.shortDescription}}</p>
                    <h3>Autores:</h3><p>{{libro.authors}}</p>
                    <h3>Categorias:</h3><p>{{libro.categories}}</p>
                </div>
            {% endif %}
        <a href="/">Volver</a>
        </div>
    </section>
</div>
{% endblock %}